.container {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.flex {
    padding: 10px;
    flex-grow: 1;
    height: 100px;
    box-sizing: border-box;
}

.flex1 {
    background-color: #8C4281;
}

.flex2 {
    background-color: #A872E6;
}

.flex3 {
    background-color: #7679FC;
}

.flex4 {
    background-color: #3B9306;
}

.flex5 {
    background-color: #E9E830;
}

.flex6 {
    background-color: #FE933A;
}

.flex7 {
    background-color: #FA423B;
}

/* Mobile version*/
@media screen and (max-width:600px) {
    .flex {
        flex-basis: 100%;
    }
}

/* tablet version*/
@media screen and (min-width: 601px) and (max-width:800px) {

    .flex1,
    .flex2,
    .flex6,
    .flex7 {
        flex-basis: 100%;
        flex-grow: 1;
    }

    .flex3,
    .flex4,
    .flex5 {
        flex-grow: 1;
    }
}

/* Desktop version*/
@media screen and (min-width: 801px) {

    .flex1,
    .flex2,
    .flex6,
    .flex7 {
        flex-basis: 50%;
        flex-grow: 1;
    }

    .flex3,
    .flex4,
    .flex5 {
        flex-basis: 33.3%;
        flex-grow: 1;
    }

}